[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
recognize = "python -m rduck -m models/deepspeech.pbmm -s models/deepspeech.scorer -w audio"

[packages]
deepspeech = "~=0.8.0"
webrtcvad = "~=2.0.10"
halo = "~=0.0.18"
numpy = ">=1.15.1"
scipy = ">=1.1.0"
PyAudio = "~=0.2.11"

[dev-packages]

[requires]
python_version = "3.8"
